*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

#up{
  background-color: yellow;
  height: 100px;
}

#up img{
  height: 100px;
  padding: 10px 20px;
}

#title{
  font-size: 55px;
  font-weight: bold;
  
}
